@import "tailwindcss";

body {
  background:
    radial-gradient(circle at top, rgba(139,92,246,.20), transparent 35%),
    radial-gradient(circle at bottom right, rgba(93,224,230,.15), transparent 40%),
    #05031a;

  color: white;
  overflow-x: hidden;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #5de0e6,
    #8b5cf6,
    #d946ef
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255,255,255,0.08);
}